<main>
  <section>
    <div class="hb-p-d01 mb-4">
      <img class="img-fluid" alt="" src="./assets/images/banner_revo111.jpg" />
    </div>
    <div class="h-p-d02 row bg-white mb-4 mx-0">
      <div class="col-12 col-sm-2 col-md py-3">
        <p class="fs-md mb-0">Free Delivery</p>
        <p class="fs-xs my-0">For all oders over $120</p>
      </div>
      <div class="col-12 col-sm-2 col-md py-3 d-flex">
        <img class="img-fluid me-2" src="./assets/images/card_icon2.webp" alt="card" />
        <div>
          <p class="fs-md mb-0">Free Delivery</p>
          <p class="fs-xs my-0">For all oders over $120</p>
        </div>
      </div>
      <div class="col-12 col-sm-2 col-md py-3 d-flex">
        <img class="img-fluid me-2" src="assets/images/msg_icon4.webp" alt="message" />
        <div>
          <p class="fs-md mb-0">Free Delivery</p>
          <p class="fs-xs my-0">For all oders over $120</p>
        </div>
      </div>
      <div class="col-12 col-sm-2 col-md py-3 d-flex">
        <img class="img-fluid me-2" src="assets/images/save_icon3.webp" alt="save" />
        <div>
          <p class="fs-md mb-0">Free Delivery</p>
          <p class="fs-xs my-0">For all oders over $120</p>
        </div>
      </div>
      <div class="col-12 col-sm-2 col-md py-3 d-flex">
        <img class="img-fluid me-2" src="assets/images/service_icon5.webp" alt="service" />
        <div>
          <p class="fs-md mb-0">Free Delivery</p>
          <p class="fs-xs my-0">For all oders over $120</p>
        </div>
      </div>
    </div>
    <div class="h-p-d03 row mb-5">
      <div class="col-md-4">
        <img class="img-fluid" src="./assets/images/s3_1.jpg" alt="" />
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="./assets/images/s3_2.jpg" alt="" />
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="./assets/images/s3_3.jpg" alt="" />
      </div>
    </div>
    <div class="h-p-d04 mb-5">
      <p class="fs-2xl"><span class="fw-bold">Top Categories</span> Of The Month</p>
      <div class="row bg-white px-0 mx-0">
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div class="">
            <p class="fs-sm mb-3 text-nowrap">#Shop All</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_radio.jpg" alt="" height="95" width="95" />
        </div>
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div>
            <p class="fs-sm mb-3 text-nowrap">#Furniture & Decor</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_chair.jpg" alt="" height="95" width="95" />
        </div>
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div>
            <p class="fs-sm mb-3 text-nowrap">#Mobiles & Tablets</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_phone.jpg" alt="" height="95" width="95" />
        </div>
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div>
            <p class="fs-sm mb-3 text-nowrap">#Clothing & Fashion</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_dress.jpg" alt="" height="95" width="95" />
        </div>
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div>
            <p class="fs-sm mb-3 text-nowrap">#Gamepad</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_games.jpg" alt="" height="95" width="95" />
        </div>
      </div>
      <div class="row bg-white px-0 mx-0">
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div class="">
            <p class="fs-sm mb-3 text-nowrap">#Accessories</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_fan.jpg" alt="" height="95" width="95" />
        </div>
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div>
            <p class="fs-sm mb-3 text-nowrap">#Smart Watch</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_watch.jpg" alt="" height="95" width="95" />
        </div>
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div>
            <p class="fs-sm mb-3 text-nowrap">#Audio & Video</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_audio.jpg" alt="" height="95" width="95" />
        </div>
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div>
            <p class="fs-sm mb-3 text-nowrap">#Backpacks & Bags</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_bag.jpg" alt="" height="95" width="95" />
        </div>
        <div class="col-md d-flex justify-content-between align-items-md-center">
          <div>
            <p class="fs-sm mb-3 text-nowrap">#Tablet & iPad</p>
            <p class="fs-xs mb-0 text-black-50">Shop Now</p>
          </div>
          <img class="img-fluid" ngSrc="assets/images/s4_tab.jpg" alt="" height="95" width="95" />
        </div>
      </div>
    </div>
    <div class="h-p-d05 mb-5">
      <p class="fs-2xl"><span class="fw-bold">New Products</span></p>
      <div class="row mx-0">
        <div class="col-md bg-white text-center me-3">
          <img ngSrc="./assets/images/s5_radio.jpg" alt="" height="160" width="160" />
          <p class="fs-sm text-black-50 mb-1">OFS</p>
          <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
          <p class="fs-lg fw-bold mb-1">$200.00</p>
        </div>
        <div class="col-md bg-white text-center me-3">
          <img ngSrc="./assets/images/s5_watch.jpg" alt="" height="160" width="160" />
          <p class="fs-sm text-black-50 mb-1">OFS</p>
          <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
          <p class="fs-lg fw-bold mb-1">$200.00</p>
        </div>
        <div class="col-md bg-white text-center me-3">
          <img ngSrc="./assets/images/s5_tab.jpg" alt="" height="160" width="160" />
          <p class="fs-sm text-black-50 mb-1">OFS</p>
          <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
          <p class="fs-lg fw-bold mb-1">$200.00</p>
        </div>
        <div class="col-md bg-white text-center me-3">
          <img ngSrc="./assets/images/s5_mic.jpg" alt="" height="160" width="160" />
          <p class="fs-sm text-black-50 mb-1">OFS</p>
          <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
          <p class="fs-lg fw-bold mb-1">$200.00</p>
        </div>
        <div class="col-md bg-white text-center me-3">
          <img ngSrc="./assets/images/s5_audio.jpg" alt="" height="160" width="160" />
          <p class="fs-sm text-black-50 mb-1">OFS</p>
          <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
          <p class="fs-lg fw-bold mb-1">$200.00</p>
        </div>
      </div>
    </div>
    <div class="h-p-d06 row mb-5 me-0">
      <div class="col-md-6">
        <img class="img-fluid" src="./assets/images/s6-1.jpg" alt="" />
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="./assets/images/s6-2.jpg" alt="" />
      </div>
    </div>
    <div class="h-p-d05 mb-5">
      <div class="d-flex justify-content-between align-items-md-center mb-2">
        <p class="fs-2xl"><span class="fw-bold">Shop All</span></p>
        <div>
          <span class="me-4 fs-sm">View All</span>
          <span class="me-4 fs-sm">Audio & Video</span>
          <span class="me-4 fs-sm">Mobiles & Tablets</span>
          <span class="me-4 fs-sm">Bath</span>
          <span class="me-4 fs-sm">Garden</span>
          <span class="me-4 fs-sm">Kitchen</span>
          <span class="me-4 fs-sm">Publications</span>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-3">
          <img ngSrc="assets/images/s7_1.jpg" height="315" width="270" />
        </div>
        <div class="row mx-0 col-md-9 px-0">
          <div class="col-md-12 mb-3 row pe-md-0">
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_radio.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_watch.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_tab.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3 row pe-md-0">
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_mic.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_audio.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_audio.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-p-d06 mb-5 px-0">
      <div class="d-flex justify-content-between align-items-md-center mb-2">
        <p class="fs-2xl"><span class="fw-bold">Mobiles & Tablets</span></p>
        <div>
          <span class="me-4 fs-sm">View All</span>
          <span class="me-4 fs-sm">Camera, Photo & Video</span>
          <span class="me-4 fs-sm">Mobiles & Tablets</span>
          <span class="me-4 fs-sm">Mobiles</span>
          <span class="me-4 fs-sm">Tablets</span>
        </div>
      </div>
      <div class="row m-0">
        <div class="row mx-0 col-md-9 px-0 me-md-0">
          <div class="col-md-12 mb-3 row pe-md-0">
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_radio.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_watch.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_tab.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3 row pe-md-0">
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_mic.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_audio.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_audio.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img ngSrc="assets/images/s8_1.jpg" height="315" width="270" />
        </div>
      </div>
    </div>
    <div class="h-p-d07 mb-5 px-0">
      <div class="d-flex justify-content-between align-items-md-center mb-2">
        <p class="fs-2xl"><span class="fw-bold">Furniture & Decor</span></p>
        <div>
          <span class="me-4 fs-sm">View All</span>
          <span class="me-4 fs-sm">MacBook</span>
          <span class="me-4 fs-sm">Monitors</span>
          <span class="me-4 fs-sm">Networking</span>
          <span class="me-4 fs-sm">PC Gaming</span>
          <span class="me-4 fs-sm">Printers</span>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-3">
          <img ngSrc="assets/images/s9_1.jpg" height="315" width="270" />
        </div>
        <div class="row mx-0 col-md-9 px-0">
          <div class="col-md-12 mb-3 row pe-md-0">
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_radio.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_watch.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_tab.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3 row pe-md-0">
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_mic.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_audio.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
            <div class="col-md bg-white me-3 d-flex align-items-md-center py-4">
              <img class="me-2" ngSrc="./assets/images/s5_audio.jpg" alt="" height="84" width="84" />
              <div class="">
                <p class="fs-sm text-black-50 mb-1">OFS</p>
                <p class="fs-sm text-primary mb-1">Recliner syntheti deck chair</p>
                <p class="fs-lg fw-bold mb-1">$200.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-p-d10 row mb-5 me-md-0">
      <div class="col-md-4">
        <img class="img-fluid" ngSrc="./assets/images/s10_1.jpg" alt="" height="220" width="486" />
      </div>
      <div class="col-md-4">
        <img class="img-fluid" ngSrc="./assets/images/s10_2.jpg" alt="" height="220" width="486" />
      </div>
      <div class="col-md-4">
        <img class="img-fluid" ngSrc="./assets/images/s10_3.jpg" alt="" height="220" width="486" />
      </div>
    </div>
    <div class="h-p-d11 mb-md-5 row">
      <div class="col-md-7 row me-md-0">
        <p class="fs-2xl fw-bold">From Our Blog</p>
        <div class="col-md-6">
          <img ngSrc="./assets/images/s11_1.jpg" alt="" height="203" width="314" />
          <div class="bg-white p-md-4">
            <p class="fs-lg fw-bold lh-1">Nam molestie magna at risus consectetur</p>
            <p class="fs-sm">Posted by bigcommerce / 5th Feb 2020</p>
            <p class="fs-sm">
              A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override …
            </p>
            <p class="fs-sm fw-bold text-black-50 mb-0">Read Me</p>
          </div>
        </div>
        <div class="col-md-6">
          <img ngSrc="./assets/images/s11_1.jpg" alt="" height="203" width="314" />
          <div class="bg-white p-md-4">
            <p class="fs-lg fw-bold lh-1">Nam molestie magna at risus consectetur</p>
            <p class="fs-sm">Posted by bigcommerce / 5th Feb 2020</p>
            <p class="fs-sm">
              A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override …
            </p>
            <p class="fs-sm fw-bold text-black-50 mb-0">Read Me</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 text-center bg-white rounded-3">
        <div class="p-md-5 ms-2 my-md-5">
          <p class="fs-sm fw-bold text-black-50">SIGN UP FOR THE PROMOTION</p>
          <p class="fs-xl fw-bold">Join Our Newsletter Now</p>
          <p class="fs-xs">
            Sign up for all the news about our latest arrivals and get an exclusive early access shopping...
          </p>
          <div class="input-group mb-3 text-center">
            <input
              type="text"
              class="form-control rounded-start-5 rounded-end-0 fs-xs ps-4"
              placeholder="Recipient's username"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2" />
            <div class="input-group-append">
              <span
                class="input-group-text fs-xs h-100 px-4 bg-warning py-md-2 rounded-end-5 rounded-start-0"
                id="basic-addon2"
                >SUBSCRIBE</span
              >
            </div>
          </div>
          <p class="fs-xl fw-bold">Or Follow Us</p>
          <p class="fs-xs">We make consolidating, marketing and tracking your social media website easy.</p>
        </div>
      </div>
    </div>
  </section>
</main>
