<main>
  <section class="sus01 d-flex justify-content-center align-items-center">
    <div class="sud00">
      <h2 class="text-center fw-bold mb-4">Create Account</h2>
      <form>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label fs-md mb-1">First Name</label>
            <input type="text" class="form-control fs-sm" name="FirstName" placeholder="Enter First Name" />
          </div>
          <div class="col-md-6">
            <label class="form-label fs-md mb-1">Last Name</label>
            <input type="text" class="form-control fs-sm" name="LastName" placeholder="Enter Last Name" />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label fs-md mb-1">Mobile Number</label>
          <input type="number" class="form-control fs-sm" name="MobileNumber" placeholder="Enter Mobile Number" />
        </div>
        <div class="mb-3">
          <label class="form-label fs-md mb-1">Email</label>
          <input type="email" class="form-control fs-sm" name="MobileNumber" placeholder="Enter Your Email" />
        </div>
        <div class="mb-3">
          <label class="form-label fs-md mb-1">Set Password</label>
          <input type="email" class="form-control fs-sm" name="MobileNumber" placeholder="Set Password" />
        </div>
        <button type="button" class="bg-primary btn-xl fs-md">Create Account</button>
      </form>
    </div>
  </section>
</main>
