<main>
  <section>
    <div class="my-md-3">
      <span class="me-md-3 text-black-50">Home</span><i class="fa-solid fa-angle-right me-md-3 text-black-50"></i>
      <span class="me-md-3 text-black-50">Electronic</span
      ><i class="fa-solid fa-angle-right me-md-3 text-black-50"></i> <span class="me-md-3 text-black-50">Audio</span
      ><i class="fa-solid fa-angle-right me-md-3 text-black-50"></i> <span class="me-md-3 text-black-50">Speaker</span
      ><i class="fa-solid fa-angle-right me-md-3 text-black-50"></i>
    </div>
    <div class="row mt-md-4">
      <div class="col-md-2">
        <div class="mb-4">
          <p class="fs-md fw-bold">Category</p>
          <p class="fs-sm my-1 py-1">Mobile accessory</p>
          <p class="fs-sm my-1 py-1">Electronics</p>
          <p class="fs-sm my-1 py-1">Smartphones</p>
          <p class="fs-sm my-1 py-1">Modern tech</p>
          <p class="text-primary">See all</p>
        </div>
        <div class="mb-4">
          <p class="fs-md fw-bold">Brands</p>
          <div class="mb-2">
            <input class="prf-icb me-2" type="checkbox" value="" id="flexCheckDefault1" />
            <label class="" for="flexCheckDefault1"><span>Samsung</span></label>
          </div>
          <div class="mb-2">
            <input class="prf-icb me-2" type="checkbox" value="" id="flexCheckDefault2" />
            <label class="" for="flexCheckDefault2"><span>Apple</span></label>
          </div>
          <div class="mb-2">
            <input class="prf-icb me-2" type="checkbox" value="" id="flexCheckDefault3" />
            <label class="" for="flexCheckDefault3"><span>Lenovo</span></label>
          </div>
          <p class="text-primary">See all</p>
        </div>
        <div class="mb-4">
          <p class="fs-md fw-bold">Category</p>
          <p class="fs-sm my-1 py-1">Mobile accessory</p>
          <p class="fs-sm my-1 py-1">Electronics</p>
          <p class="fs-sm my-1 py-1">Smartphones</p>
          <p class="fs-sm my-1 py-1">Modern tech</p>
          <p class="text-primary">See all</p>
        </div>
        <div class="mb-4">
          <p class="fs-md fw-bold">Brands</p>
          <div class="mb-2">
            <input class="me-2" type="checkbox" value="" id="flexCheckDefault4" />
            <label class="" for="flexCheckDefault4">Samsung</label>
          </div>
          <div class="mb-2">
            <input class="me-2" type="checkbox" value="" id="flexCheckDefault5" />
            <label class="" for="flexCheckDefault5">Apple</label>
          </div>
          <div class="mb-2">
            <input class="me-2" type="checkbox" value="" id="flexCheckDefault6" />
            <label class="" for="flexCheckDefault6">Lenovo</label>
          </div>
          <p class="text-primary">See all</p>
        </div>
      </div>
      <div class="col-md-10">
        <div class="bg-white">
          <div class="py-3 px-2 d-flex justify-content-between align-items-center">
            <p class="fs-sm mb-0">12,911 items in <span class="fw-bold">Mobile accessory</span></p>
            <div class="d-flex">
              <div class="mb-2 me-4">
                <input class="me-2 mb-0" type="checkbox" value="" id="flexCheckDefault7" />
                <label class=" mb-0" for="flexCheckDefault7">Lenovo</label>
              </div>
              <div>
                <select name="sort" id="sort1" class="bg-white fs-xs py-1" style="width: 140px">
                  <option value="feature" class="fs-sm">feature</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
