<main>
  <section>
    <div class="my-md-3">
      <span class="me-md-3 text-black-50">Home</span><i class="fa-solid fa-angle-right me-md-3 text-black-50"></i>
      <span class="me-md-3 text-black-50">Electronic</span
      ><i class="fa-solid fa-angle-right me-md-3 text-black-50"></i> <span class="me-md-3 text-black-50">Audio</span
      ><i class="fa-solid fa-angle-right me-md-3 text-black-50"></i> <span class="me-md-3 text-black-50">Speaker</span
      ><i class="fa-solid fa-angle-right me-md-3 text-black-50"></i>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="pd-mi-d01 mb-4">
          <img src="assets/images/pd_main.jpg" class="pd-m-img" alt="" />
        </div>
        <div class="d-flex w-100 justify-content-center">
          <div class="mx-2 pdsib-d"><img class="ps-i m-1" src="assets/images/s5_radio.jpg" alt="" /></div>
          <div class="mx-2 pdsib-d"><img class="ps-i m-1" src="assets/images/s5_radio.jpg" alt="" /></div>
          <div class="mx-2 pdsib-d"><img class="ps-i m-1" src="assets/images/s5_radio.jpg" alt="" /></div>
        </div>
      </div>
      <div class="col-md-6">
        <p class="fs-xl fw-medium">Recliner syntheti deck chair</p>
        <div class="d-flex justify-content-between">
          <p class="mb-2">
            <i class="fa-solid fa-star text-warning me-3"></i> <span class="fs-lg me-2">4.3 / 5</span
            ><span class="fs-sm text-black-50 text-warning-emphasis">(112 Ratings | 94 Reviews)</span>
          </p>
          <p><i class="fa-solid fa-share-nodes fs-2xl text-primary"></i></p>
        </div>
        <p>
          <span class="fs-6xl fw-bold me-3">$499</span
          ><span class="fs-lg fw-medium text-black-50">
            Mrp <span class="text-decoration-line-through ms-1">$599</span></span
          >
        </p>
        <div>
          <p class="fs-lg fw-medium text-primary mb-1">Color</p>
          <div class="d-flex">
            <p class="pcr-p me-2">
              <span class="pcr-s b-clr-b"><i class="fa-solid fa-circle p-clr-b fs-xl m-1"></i></span>
            </p>
            <p class="pcr-p me-2">
              <span class="pcr-s b-clr-r"><i class="fa-solid fa-circle p-clr-r fs-xl m-1"></i></span>
            </p>
            <p class="pcr-p">
              <span class="pcr-s b-clr-p"><i class="fa-solid fa-circle p-clr-p fs-xl m-1"></i></span>
            </p>
          </div>
        </div>
        <div>
          <p class="fs-lg fw-medium text-primary mb-1">Size</p>
          <div class="d-flex">
            <p class="pcr-p me-2"><span class="fs-xl fw-medium">S</span></p>
            <p class="pcr-p me-2"><span class="fs-xl fw-medium">M</span></p>
            <p class="pcr-p"><span class="fs-xl fw-medium">L</span></p>
          </div>
        </div>
        <div class="mb-3">
          <p class="fs-lg fw-medium text-primary mb-1">Qundity</p>
          <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
          </select>
        </div>

        <div>
          <div class="d-flex justify-content-between">
            <div>
              <p class="pr-p me-3 mb-1">
                <span class="fs-xl fw-medium mt-1"><i class="fa-regular fa-circle-check fs-4xl"></i></span>
              </p>
              <p class="fs-xs fw-bold text-center me-3">
                100% <br />
                Authentic
              </p>
            </div>
            <div>
              <p class="pr-p me-3 mb-1">
                <span class="fs-xl fw-medium mt-1"><i class="fa-solid fa-reply-all fs-4xl"></i></span>
              </p>
              <p class="fs-xs fw-bold text-center me-3">
                15 days <br />
                Returns
              </p>
            </div>
            <div>
              <p class="pr-p me-3 mb-1"><span class="fs-xl fw-medium">COD</span></p>
              <p class="fs-xs fw-bold text-center me-3">
                COD <br />
                Available
              </p>
            </div>
            <div>
              <p class="pr-p mb-1">
                <span class="fs-xl fw-medium mt-1"><i class="fa-solid fa-truck-fast fs-4xl"></i></span>
              </p>
              <p class="fs-xs fw-bold text-center">
                Free <br />
                Delivery
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <button type="button" class="bg-warning w-75 py-2 border-0 rounded">Add To Cart</button>
          </div>
          <div class="col-md-6 text-md-end">
            <button type="button" class="bg-light w-75 py-2 rounded">Add To Wishlist</button>
          </div>
        </div>
        <div>
          <p class="fs-lg fw-medium text-primary mb-1">Additional Details</p>
          <div class="">
            <p class="">
              Camera: 50MP Main Camera with Sony IMX766 and 2MP Macro Camera with Dual LED Flash; 16MP Front (Selfie)
              Camera with Sony IMX471 Camera Features: Nightscape2.0, Super Macro, UltraShot HDR, Smart Scene
              Recognition, Portrait mode, Pro mode, Panorama, Tilt-shift mode, Focus Peaking, Filters, Video Nightscape,
              Video HDR, Video Portrait Timelapse, Hyperlapse Mode Display: 6.7 Inches; 120 Hz IRIS Display; Resolution:
              2400 X 1080 pixels 394 ppi; Aspect Ratio: 20:9 Display Features: Hyper Touch Mode, Reading Mode, Night
              Mode, Eye Comfort Mode, Auto brightness Operating System: OxygenOS based on Android 12 Processor: MTK
              D8100 Max Battery & Charging: 5000 mAh with 80W SuperVOOC In-Display Fingerprint Sensor Special Features:
              Hyperboost gaming engine Alexa Hands-Free capable: Download the Alexa app to use Alexa hands-free. Play
              music, make calls, hear news, open apps, navigate, and more, all using just your voice, while on-the-go.
              Show Less
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
