/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f6f9;
  color: #262b35;
}

main {
  margin: auto !important;
  padding: 0 2rem;
  max-width: 1288px;
  width: 100%;
}

.w-78 {
  width: 78%;
}
.h-p-d01 {
  margin: auto;
  padding: 0 3rem;
  max-width: 1252px;
  width: 100%;
}
input {
  width: 100%;
  height: 48px;

  padding: 12px;
  border: 1px solid #cdcfd9;
  background-color: #ffffff;
}

.text-hover-org:hover{
  color: #fcb700 !important;
}

.bg-hover:hover{
  opacity: 80%;
}

.cursor{
  cursor: pointer;
}

input::placeholder {
  color: #bac1ce !important;
}
.fs-xs {
  font-size: 12px;
}
.fs-sm {
  font-size: 14px;
}
.fs-md {
  font-size: 16px;
}
.fs-lg {
  font-size: 18px;
}
.fs-xl {
  font-size: 20px;
}
.fs-2xl {
  font-size: 22px;
}
.fs-4xl {
  font-size: 24px;
}
.fs-6xl {
  font-size: 26px;
}
.btn-xl {
  padding: 0.7rem;
  width: 100%;
  color: white;
  border: none;
  border-radius: 6px;
}
.sus01 {
  width: 100%;
  height: 100vh;
}
.sud00 {
  width: 34vw;
}

select{
  padding: 10px;
  border-radius: 4px;
  background-color: #f5f6f9;
}

input[type='checkbox']{
  width: 18px !important;
  height: 18px !important;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sud00 {
    width: 90vw;
  }
}
@media screen and (max-width: 767px) {
  .sud00 {
    width: 90vw;
  }
}
